@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 66px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 48px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 34px;
  color: #222;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 25px;
  color: #465b52;
  margin: 15px 0px 20px 0px;
}

.section-p1 {
  padding: 35px 60px;
}

.section-p2 {
  padding: 35px 15px;
}

.section-m1 {
  margin: 30px 0px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e5f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0px;
  left: 0px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 35%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar .show-icon {
  display: none;
}

/* Css được thêm vào khi mình làm responsive */
#mobile {
  display: none;
}

#close {
  display: none;
}

/* Profile */
#header .profile {
  position: absolute;
  top: 110%;
  right: 150px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  background-color: #e3e5f3;
  width: 18vw;
  display: none;
  animation: fade 0.3s linear;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}

#header .profile .user-image {
  border-bottom: 1px solid #fff;
}

#header .profile .user-item {
  margin-top: 10px;
}

#header .profile a {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  color: #000;
  font-size: 22px;
  padding: 15px;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#header .profile.active {
  display: inline-block;
}

#header .profile img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#header .profile p {
  font-size: 22px;
  color: #088178;
}

#header .profile a:hover {
  background-color: white;
  color: #088178;
}

/* Message */

.message {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

/* Message success */
.message.alert-success {
  background-color: #cce7d0;
}

.message.alert-success span {
  font-size: 22px;
  color: #088178;
}

.message.alert-success i {
  font-size: 22px;
  cursor: pointer;
  color: #000;
}

.message.alert-success i:hover {
  color: #088178;
}

/* Message danger */
.message.alert-danger {
  background-color: #f8d7da;
}

.message.alert-danger span {
  font-size: 22px;
  color: #810810;
}

.message.alert-danger i {
  font-size: 22px;
  cursor: pointer;
  color: #000;
}

.message.alert-danger i:hover {
  color: #810810;
}

/* Message warning */
.message.alert-warning {
  background-color: #fff3cd;
}

.message.alert-warning span {
  font-size: 22px;
  color: #817908;
}

.message.alert-warning i {
  font-size: 22px;
  cursor: pointer;
  color: #000;
}

.message.alert-warning i:hover {
  color: #817908;
}
/* Home Page */
#Hero {
  background-image: url(../../static/img/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#Hero h4 {
  padding-bottom: 15px;
}

#Hero h1 {
  color: #088178;
}

#Hero button {
  background-image: url("../../static/img/button.png");
  background-color: transparent;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 25px;
}

#Hero button a {
  text-decoration: none;
  color: #088178;
}

#product1 {
  text-align: center;
}

#product1 #category {
  text-align: left;
  font-weight: 600;
  padding-top: 40px;
}

#product1 #category a {
  text-decoration: none;
  color: #088178;
  text-transform: uppercase;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0px;
}

#product1 .pro span {
  color: #606063;
  font-size: 14px;
  text-transform: uppercase;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  text-transform: uppercase;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro #shopping {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../../static/img/banner/b2.jpg);
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 20px;
}

#banner h2 {
  color: #fff;
  font-size: 32px;
  padding: 10px 0px;
}

#banner span {
  color: #ef3636;
}

#banner button:hover {
  background: #088178;
  color: #fff;
}

#newsletter {
  text-align: center;
  background-image: url("../../static/img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 22px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.123rem;
  padding: 0 1.25em;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 28px;
  padding-bottom: 20px;
  color: #088178;
}

footer p {
  font-size: 16px;
  color: #222;
  margin: 0px 0px 8px 0px;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
  font-size: 28px;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop Page */

#page-header {
  background-image: url("../../static/img/banner/b1.jpg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

.shop-body {
  display: flex;
  justify-content: center;
}

/* Thanh simple bar */

.shop-body .simplebar-wrapper {
  padding: 2px;
  margin-top: 20px;
  width: 15vw;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  height: auto;
  border-radius: 10px;
}

.shop-body .simplebar-wrapper h2 {
  font-size: 30px;
  margin-bottom: 28px;
  color: #088178;
  text-align: center;
}

.shop-body .simplebar-wrapper h4 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  color: #088178;
}

.shop-body .simplebar-wrapper #btn-search {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.shop-body .simplebar-wrapper button {
  border: 2px solid #dbeede;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.shop-body .simplebar-wrapper button:hover {
  color: #088178;
}

.shop-body .simplebar-content {
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  border-bottom: 2px solid #dbeede;
}

.shop-body .simplebar-content li {
  list-style: none;
  padding: 8px;
  font-size: 18px;
}

/* sản phẩm trong shop */
.shop-body .pro-containershop {
  width: 85vw;
}

.shop-body .pro-containershop {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  height: fit-content;
}

.shop-body .proshop {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

.shop-body .proshop:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.shop-body .proshop img {
  width: 100%;
  border-radius: 20px;
}

.shop-body .proshop .desshop {
  text-align: start;
  padding: 10px 0px;
}

.shop-body .proshop span {
  color: #606063;
  font-size: 14px;
  text-transform: uppercase;
}

.shop-body .proshop .desshop h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  text-transform: uppercase;
}

.shop-body .proshop .desshop i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.shop-body .proshop .desshop h4 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #088178;
}

.shop-body .proshop #shopping {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  margin-right: 3px;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Detail Page */
#prodetails form {
  display: flex;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#prodetails .small-img-group {
  display: flex;
  justify-content: space-between;
}

#prodetails .small-img-col {
  flex-basis: 32%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
}

#prodetails .single-pro-details h5 {
  font-size: 18px;
  text-transform: uppercase;
}

#prodetails .single-pro-details h4 {
  padding: 30px 0px 10px 0px;
  font-size: 28px;
  text-transform: uppercase;
}

#prodetails .single-pro-details h2 {
  font-size: 24px;
  color: #088178;
  padding: 0px 0px 10px 0px;
}

#prodetails .single-pro-details #Size-KT {
  display: block;
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
}

#prodetails .single-pro-details #Quantity-SL {
  display: block;
  width: 19%;
  height: 34px;
  padding-left: 12px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

#prodetails .single-pro-details button {
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 16px;
}

#prodetails .single-pro-details #btn-addfavorite {
  background-color: #fff;
  color: #000;
  border: 2px solid #9f9fa5;
  margin-right: 4px;
}

#prodetails .single-pro-details #btn-addfavorite:hover {
  border-color: #000;
}

#prodetails .single-pro-details #btn-addcart {
  background: #000;
  color: white;
}

#prodetails .single-pro-details #btn-addcart:hover {
  background: #6f6e6e;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  font-size: 18px;
}

/* Cart Page */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 100px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6),
#cart table td:nth-child(7) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  outline: none;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  padding: 18px 0px;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody #td-link {
  cursor: pointer;
}

#cart table tbody td {
  font-size: 20px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tb {
  display: grid;
  justify-items: center;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 20px;
}

#subtotal h3 {
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 26px;
}

#subtotal button {
  background-color: white;

  padding: 12px 20px;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid #088178;
}

#subtotal button a {
  text-decoration: none;
  color: #000;
}

#subtotal button:hover {
  background-color: #088178;
}

#subtotal button a:hover {
  color: #fff;
}

/* PurcharseOrder */
.placed-orders .box-container {
  padding: 20px 40px;
  margin-bottom: 20px;
}

.placed-orders .title {
  text-align: center;
  margin: 30px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 40px;
}

.placed-orders .box-container .box {
  padding: 20px;
  display: block;
  border: 2px solid #000;
  background-color: white;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin-bottom: 10vh;
}

.placed-orders .box-container .box p {
  margin: 10px 0;
  line-height: 1.8;
  font-size: 28px;
  color: #606063;
}

.placed-orders .box-container .box p span {
  color: #088178;
}

/* CheckOut Page */
.checkout-orders {
  margin: 14vh 14vw;
}

.checkout-orders form {
  border: 2px solid;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}

.checkout-orders form h3 {
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 34px;
}

.checkout-orders form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.checkout-orders form .flex .inputBox {
  width: 45%;
}

.checkout-orders form .flex .inputBox .box {
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  color: #000;
  padding: 14px 14px;
  margin: 16px 0;
  border: 2px solid;
  background-color: #cbebfc;
}

.checkout-orders form .flex .inputBox span {
  font-size: 22px;
  color: #9f9fa5;
}

.checkout-orders form .btn {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #55a6a1;
  margin: 14px 0px;
  background-color: #55a6a1;
  color: #fff;
  font-size: 20px;
  padding: 14px 20px;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
}

.checkout-orders form .btn:hover {
  background-color: #088178;
}

.display-orders {
  text-align: center;
  margin: 10px 0;
}

.display-orders p {
  display: inline-block;
  padding: 10px 10px;
  margin: 16px 0px;
  font-size: 26px;
  text-align: center;
}

.display-orders p span {
  color: #088178;
}

/* Contact Page*/
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span {
  font-size: 20px;
}

#contact-details .details h2 {
  font-size: 30px;
  line-height: 35px;
  padding: 20px 0px;
}

#contact-details .details h3 {
  font-size: 20px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0px;
}

#contact-details .details li i {
  font-size: 16px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0px;
  font-size: 16px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-details form span {
  font-size: 20px;
}

#form-details form h2 {
  font-size: 40px;
  line-height: 35px;
  padding: 20px 0px;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  font-size: 20px;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  font-size: 24px;
  border-radius: 5px;
  color: #fff;
}

/* Login & Register Page*/
.container-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9eddff;
}
.container {
  max-width: 50vw;
  width: 100%;
}

.container .form {
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid #fff;
}

.container-body .title {
  font-size: 44px;
  font-weight: 400;
  text-align: center;
  display: block;
  color: #fff;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 40px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  border-bottom: 2px solid #222;
  color: #222;
  border-top: 2px solid transparent;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #fff;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translate(-4px, -50%);
  color: #222;
  font-size: 30px;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #fff;
}

.input-field i.icon {
  left: 0;
}

.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #222;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
  color: #fff;
}

.form .button input {
  color: #222;
  font-size: 28px;
  font-weight: 400;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.button input:hover {
  color: #fff;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.form .login-signup span {
  font-size: 24px;
  color: #fff;
}

.form .login-signup a {
  font-size: 24px;
}

/* Search Page  */

.search-form form {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.search-form form .box {
  width: 70%;
  padding: 20px;
  border: 2px solid #088178;
  margin: 20px 0px 20px 30px;
  background-color: white;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  color: black;
  border-radius: 12px;
}

.search-form form .btn {
  display: inline-block;
  width: auto;
  margin-top: 0;
}

.search-form form .btn {
  display: block;
  border-radius: 12px;
  margin-right: 30px;
  background-color: white;
  border: 2px solid #088178;
  color: #000;
  font-size: 20px;
  padding: 20px 30px;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
}

.search-form form .btn:hover {
  color: #088178;
}

.pro-containersearch {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  height: fit-content;
}

.pro-containersearch .prosearch {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

.pro-containersearch .prosearch:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.pro-containersearch .prosearch img {
  width: 100%;
  border-radius: 20px;
}

.pro-containersearch .prosearch .dessearch {
  text-align: start;
  padding: 10px 0px;
}

.pro-containersearch .prosearch span {
  color: #606063;
  font-size: 14px;
  text-transform: uppercase;
}

.pro-containersearch .prosearch .dessearch h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  text-transform: uppercase;
}

.pro-containersearch .prosearch .dessearch i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.pro-containersearch .prosearch .dessearch h4 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #088178;
}

.pro-containersearch .prosearch #shopping {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* Favorite Page */
.favorite {
  padding: 20px 40px;
  margin: 14px 0px;
}

.favorite h2 {
  text-align: center;
  margin: 0px 0px 14px 0px;
  text-transform: uppercase;
  color: #088178;
  font-size: 34px;
}

.favorite .box-container {
  display: flex;
  justify-content: space-around;
}

.favorite .box-container .box {
  width: 23%;
  min-width: 230px;
  padding: 10px;
  text-align: center;
  border: 2px solid #cce7d0;
  background-color: white;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  position: relative;
}

.favorite .box-container .box:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.favorite .box-container .box .fa-xmark {
  position: absolute;
  color: #606063;
  font-size: 24px;
}

.favorite .box-container .box .fa-xmark:hover {
  color: #088178;
}

.favorite .box-container .box img {
  width: 100%;
  border-radius: 12px;
}

.favorite .box-container .box-content {
  text-align: start;
  padding: 10px 0px 0px 0px;
}

.favorite .box-container span {
  color: #606063;
  font-size: 16px;
}

.favorite .box-container .box-content h5 {
  padding-top: 8px;
  color: #1a1a1a;
  font-size: 18px;
  text-transform: uppercase;
}

.favorite .box-container .box-content h4 {
  padding-top: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #088178;
}

.favorite .box-container .box-content h6 {
  padding-top: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.favorite .box-container .box-content h6 span {
  color: #088178;
  font-size: 22px;
}

.favorite .box-container .box .size {
  margin: 5px 0;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #088178;
  border: none;
  width: 30%;
  height: 30px;
}

.favorite .box-container .btn {
  border-radius: 8px;
  background-color: white;
  border: 2px solid #cce7d0;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin-top: 14px;
}

.favorite .box-container .btn:hover {
  color: #088178;
  border-color: #088178;
}

/* Components */
.empty {
  padding: 18px;
  background: #fff;
  color: #ef3636;
  border-radius: 14px;
  border: 2px solid #f8d7da;
  font-size: 22px;
  text-align: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}

/* Start Media Query */
@media (max-width: 1024px) {
  .section-p1 {
    padding: 22px 56px;
  }

  .section-m1 {
    margin: 20px 0px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e5f3;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: 0.3s ease;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #mobile a i:hover,
  #mobile a.active i {
    color: #088178;
  }

  #navbar.active {
    right: 0px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #navbar .hide-icon {
    display: none;
  }

  #navbar .show-icon {
    display: inline;
  }

  #Hero {
    background-position: top right 25%;
    padding: 0px 60px;
  }

  #Hero h4 {
    padding-bottom: 10px;
    font-size: 30px;
  }

  #Hero h2 {
    font-size: 40px;
  }

  #Hero h1 {
    font-size: 60px;
  }

  #Hero p {
    font-size: 20px;
    color: #1a1a1a;
  }

  #product1 .pro {
    margin: 15px;
  }

  #product1 h4 {
    padding-top: 20px;
  }

  #product1 #category {
    text-align: center;
  }

  #banner {
    height: 10vh;
  }
  /* User profile */
  #header .profile {
    right: 22px;
    width: 30vw;
  }

  #header .profile a {
    padding: 10px;
  }
  /* Login Page */

  .container {
    max-width: 70vw;
  }

  .input-field i {
    font-size: 22px;
  }

  .form .login-signup a {
    font-size: 22px;
  }

  .form .login-signup span {
    font-size: 22px;
  }

  /* Detail Page */
  #prodetails .single-pro-details #btn-addfavorite {
    margin-bottom: 20px;
  }

  #prodetails .single-pro-details #Quantity-SL {
    width: 37%;
  }
  /*Shop Page  */
  .shop-body .simplebar-wrapper {
    width: 20vw;
  }

  .shop-body .pro-containershop {
    width: 80vw;
  }

  /* Contact Page */
  #page-header {
    height: 20vh;
  }

  #form-details .people div p {
    line-height: 16px;
  }

  /* Cart Page */

  /* Checkout Page */
  .checkout-orders {
    margin: 20vh 8vw;
  }

  .display-orders {
    margin: 20px 0;
  }

  /* PurcharseOrder Page */
  .placed-orders .box-container .box p {
    margin: 13px 0;
  }
}

@media (max-width: 480px) {
  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }

  #Hero {
    padding: 0px 20px;
    background-position: top 40% right 35%;
  }

  #Hero h2 {
    font-size: 28px;
  }

  #Hero h1 {
    font-size: 34px;
  }

  #Hero h4 {
    padding-bottom: 5px;
    font-size: 20px;
  }

  #Hero p {
    font-size: 16px;
  }

  #Hero button {
    font-size: 20px;
  }

  #product1 .pro {
    width: 100%;
  }

  #product1 h2 {
    font-size: 40px;
  }

  #product1 p {
    font-size: 20px;
  }

  #banner {
    height: 20vh;
  }

  #newsletter h4 {
    font-size: 16px;
  }

  #newsletter p {
    font-size: 12px;
  }

  footer h4 {
    font-size: 20px;
  }

  footer p {
    font-size: 13px;
  }

  footer a {
    font-size: 13px;
  }

  footer .follow i {
    font-size: 20px;
  }

  footer .copyright {
    text-align: center;
  }

  /* User profile */
  #header .profile {
    right: 4px;
    width: 42vw;
  }

  #header .profile a {
    font-size: 18px;
  }

  #header .profile p {
    font-size: 18px;
  }

  /* Detail Page */
  #prodetails form {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }

  #prodetails .single-pro-details #Size-KT {
    border-width: 1px;
    padding: 4px 10px;
  }

  #prodetails .single-pro-details #Quantity-SL {
    height: 45px;
  }

  #prodetails .single-pro-details h5 {
    padding-top: 20px;
  }

  #prodetails .single-pro-details h4 {
    padding: 20px 0px 10px 0px;
  }

  /* Shop Page */

  .shop-body .simplebar-wrapper {
    width: 25vw;
    margin-right: 10px;
  }

  .shop-body .pro-containershop {
    width: 75vw;
  }

  .shop-body .simplebar-wrapper button {
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }

  /* Contact Page */
  #contact-details {
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details .map {
    width: 100%;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }

  #form-details .people {
    width: 100%;
  }

  #page-header h2 {
    font-size: 30px;
  }

  #page-header p {
    font-size: 24px;
  }

  /* Search Page */
  .search-form form .box {
    width: 80%;
    padding: 16px;
    margin: 20px 0px 20px 10px;
    font-size: 18px;
  }

  .search-form form .btn {
    margin-right: 10px;
    font-size: 18px;
    padding: 14px 16px;
  }

  /* Login & Register Page */

  .container {
    max-width: 80vw;
  }

  .form .login-signup span {
    font-size: 18px;
  }

  .form .login-signup a {
    font-size: 18px;
  }

  .form .button input {
    font-size: 22px;
  }

  .input-field input {
    font-size: 20px;
  }

  .input-field i {
    font-size: 20px;
  }

  .container-body .title {
    font-size: 34px;
  }

  .form .input-field {
    height: 30px;
    margin-top: 30px;
  }
  /* Cart Page */
  #cart-add {
    flex-direction: column;
  }

  #cart-add #coupon {
    width: 100%;
  }

  #subtotal {
    width: 100%;
    padding: 20px;
  }

  /* PurcharOrder Page */
  .placed-orders .box-container .box p {
    margin: 10px 0;
    font-size: 20px;
  }

  .placed-orders .title {
    margin: 10px 0px 10px 0px;
    font-size: 30px;
  }

  .placed-orders .box-container .box {
    padding: 10px;
  }

  .placed-orders .box-container {
    padding: 10px 30px;
    margin-bottom: 10px;
  }

  /* CheckOut Page */
  .checkout-orders {
    margin: 14vh 6vw;
  }

  .checkout-orders form h3 {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .display-orders {
    margin: 16px 0;
  }

  .display-orders p span {
    display: inline-block;
  }

  .display-orders p {
    margin: 14px 0px;
    font-size: 20px;
  }

  .checkout-orders form .flex .inputBox span {
    font-size: 12px;
  }

  .checkout-orders form .flex .inputBox .box {
    font-size: 16px;
    padding: 12px 12px;
    margin: 14px 0;
  }

  .checkout-orders form .btn {
    margin: 10px 0px 0px 0px;
  }
}
